    /* ############## Default settings ############### */
    
    nav,
    header,
    footer {
        display: block;
    }
    
    body {
        background-color: ghostwhite;
        line-height: 1;
        margin: 0;
    }
    
    .container {
        width: 100%;
        margin: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .row::after {
        display: table;
        clear: both;
        content: "";
    }
    
    .col-1 {
        width: 8.33%;
    }
    
    .col-2 {
        width: 16.66%;
    }
    
    .col-3 {
        width: 25%;
    }
    
    .col-4 {
        width: 33.33%;
    }
    
    .col-5 {
        width: 41.66%;
    }
    
    .col-6 {
        width: 50%;
    }
    
    .col-7 {
        width: 58.33%;
    }
    
    .col-8 {
        width: 66.66%;
    }
    
    .col-9 {
        width: 75%;
    }
    
    .col-10 {
        width: 83.33%;
    }
    
    .col-11 {
        width: 91.66%;
    }
    
    .col-12 {
        width: 100%;
    }
    /* ########## Nav Bar ########### */
    
    nav {
        width: 100%;
        margin: 0;
    }
    
    nav ul {
        background-color: khaki;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    ul.topnav li {
        list-style: none;
        float: left;
    }
    
    ul.topnav li.topnav-right {
        float: right;
    }
    
    ul.topnav li a {
        display: block;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        min-height: 16px;
        text-align: center;
        padding: 10px;
        text-transform: uppercase;
        color: brown;
    }
    /* I wanted to be sure I coukld make a specific button a different design. I used the parent class, child class, and id to target the "Login" */
    /* ul.topnav li.topnav-right#login {
    background-color: brown;} */
    
    ul.topnav li a:hover {
        background-color: brown;
        color: ghostwhite;
    }
    
    ul.topnav li.dropdownicon {
        display: none;
    }
    /* ######################## Custom settings  ############################### */
    
    #section-1-gradient {
        background: #6699ff;
        /* standard syntax*/
        background: linear-gradient(#99ccff, #6699ff);
        /* for mozilla syntax*/
        background: -moz-linear-gradient(#99ccff, #6699ff);
        /* for opera syntax*/
        background: -o-linear-gradient(#99ccff, #6699ff);
        /* for safari and chrome syntax*/
        background: -webkit-linear-gradient(#99ccff, #6699ff);
    }
    
    * {
        box-sizing: border-box;
    }
    
    div.box {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px 0 rgba(0, 0, 0, .1);
        background-color: ghostwhite;
        border-radius: 8px;
        text-align: center;
        margin: 20px;
        padding: 20px 12px 20px 12px;
    }
    
    div.container div.col-5 div.image img {
        display: block;
        padding: 20px;
        /* The purpose of the box shadowing is to add some shadow to the image */
        box-shadow: -2px -2px 15px 2px rgba(0, 0, 0, .15), 2px 2px 17px 2px rgba(0, 0, 0, .1);
        margin: auto;
    }
    
    .leftside-col {
        margin-left: 15%;
    }
    
    .righstide-col {
        margin-left: 10%;
    }
    
    h1.large {
        color: ghostwhite;
        font-size: 50px;
        margin: 0;
        line-height: 66px;
    }
    
    h1.section-2-header {
        font-size: 60px;
        text-align: center;
    }
    
    form h2 {
        color: ghostwhite;
    }
    
    input[type="text"] {
        font-size: 20px;
        width: 350px;
        min-width: 100px;
        padding: 5px;
        border-radius: 7px;
    }
    
    div.icon {
        width: 100%;
        margin: 0;
        line-height: 0;
    }
    
    label {
        font-size: 30px;
        font-weight: 600;
    }
    
    p {
        font-size: 20px;
        line-height: 1.2;
    }
    
    article p {
        font-size: 25px;
        padding: 15px;
    }
    
    button {
        font-size: 32px;
        font-weight: 500;
        color: ghostwhite;
        background-color: #6699ff;
        border-radius: 8px;
        padding: 15px 20px;
        display: block;
        text-align: center;
        margin: 5px;
    }
    
    button.learnmore {
        display: block;
        margin: auto;
    }
    
    button.learnmore:hover {
        color: #99ccff;
        background-color: khaki;
    }
    
    .videoContainer iframe {
        position: relative;
        /* width: 100%; */
        margin: 0;
        overflow: hidden;
        border-radius: 5px;
    }
    
    footer.footsy {
        background-color: darkgrey;
        padding-left: 10%;
    }
    
    footer.footsy h1 {
        font-size: 30px;
        color: ghostwhite;
    }
    
    footer.footsy ul {
        color: ghostwhite;
        list-style: none;
        text-align: left;
        padding: 0;
    }
    
    footer.footsy ul li {
        color: ghostwhite;
        line-height: 1.5;
        font-size: 20px;
    }
    
    footer.footsy h1 {
        color: khaki;
    }
    /* ######################## Mobile Nav ############################### */
    
    @media screen and (max-width: 680px) {
        ul.topnav li:not(:nth-child(1)) {
            display: none;
        }
        ul.topnav li.dropdownicon {
            display: block;
            float: right;
        }
        ul.topnav.responsive li.dropdownicon {
            position: absolute;
            top: 0;
            right: 0;
        }
        ul.topnav.responsive {
            position: relative;
        }
        ul.topnav.responsive li {
            display: inline;
            float: none;
        }
        ul.topnav.responsive a {
            display: block;
            text-align: left;
        }
        .col-6,
        .col-4 {
            width: 100%;
            margin: 0;
        }
        h1.section-2-header {
            font-size: 45px;
        }
        div.leftside-col,
        div.righstide-col {
            margin: 20px;
        }
        input[type="text"] {
            width: 100%;
        }
        .videoContainer iframe {
            position: relative;
            width: 100%;
            margin: 0;
            overflow: hidden;
            border-radius: 5px;
        }
        div.box {
            padding: 5px;
            display: block;
        }
        h1.section-2-header {
            font-size: 50px;
        }
        div.container div.col-5 div.image img {
            display: block;
            width: 100%;
        }
        div.row div.col-7 {
            display: block;
            width: 100%;
        }
        article p {
            font-size: 20px;
        }
        div.mobilestack {
            width: 50%;
            display: block;
        }
    }